<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Rolodex</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div>
       <header>
           <h1>
            {{#if loggedIn}}
            <a href="/dashboard" class="app-title">Cloud Rolodex</a>
            {{else}}
            <a href="/" class="app-title">Cloud Rolodex</a>
            
            {{/if}}
    </h1>
    <nav>
  {{#if loggedIn}}
  <div>
    <a class="btn-secondary" href="/dashboard">dashboard</a>
    <a class="btn-secondary" href="/" id="logout" class="btn-no-style">logout</a>
  </div>
   
  {{else}}
  {{!-- <a class="btn-secondary" href="/login">login</a> --}}
  {{/if}}
</nav>
</header>
        <main>
            {{{ body }}}
        </main>
        <div id="footer-wrap" >
            <footer id="footer" class="app-title">
                &COPY; 2020 Team Turkey
            </footer>
        </div>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

</body>

</html>
