<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Rolodex</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/45154460ac.js" crossorigin="anonymous"></script>
</head>

<body>
    <div>
        <header>
            <nav>
                {{#if loggedIn}}
                <a href="/dashboard" class="app-title"><i class="far fa-address-book"></i> Cloud Rolodex </a>
                <div>
                    <a class="btn-secondary" href="/dashboard"><i class="fas fa-bars"></i> dashboard</a>
                    <a class="btn-secondary" href="/" id="logout" class="btn-no-style"><i
                            class="fas fa-sign-out-alt"></i> logout</a>
                </div>
                {{else}}
                <a href="/dashboard" class="app-title margin"><i class="far fa-address-book"></i> Cloud Rolodex </a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <div id="footer-wrap">
            <footer id="footer" class="app-title">
                &COPY; 2020 Team Turkey
            </footer>
        </div>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

</body>

</html>