<html>
  <body>

    <h1>Edit your account</h1>

    <hr>

    <h2>Your avatar</h2>

    <input type="file" id="file-input">
    <p id="status">Please select a file</p>
    <img style="border:1px solid gray;width:300px;"  id="preview" src="../public/images/default.png">

    <h2>Your information</h2>

    <form method="POST" action="/save-details">
      <input type="hidden" id="avatar-url" name="avatar-url" value="../public/images/default.png">
      <input type="text" name="first-name" placeholder="First Name"><br>
      <input type="text" name="last-name" placeholder="Last Name"><br>
      <input type="text" name="phone" placeholder="phone"><br>
      <input type="text" name="email" placeholder="email"><br>
      <label for="department">Please Select your Department:</label><br>

      <select name="departments" id="departments">
        <option value="Sales">Sales</option>
        <option value="Engineering">Engineering</option>
        <option value="Finance">Finance</option>
        <option value="Legal">Legal</option>
        <option value="Sanitation">Sanitation</option>
      </select>
      <br>

      <h2>Save changes</h2>

      <button class="btn" id="update-btn">Update Profile</button>
    </form>


  
    <script src="/javascript/account.js"></script>
    <script src="/javascript/edit-user.js"></script>
   
  </body>
</html>