<div id="home-div" class="card">
  <h3 id="prompt" class="card-header" >Welcome!</h3>
  <button type="submit" class="btn" href="/signup" id="signup">Create An Account</button>
    <button type="submit" class="btn" href="/login" id="login">Log In</button>
</div>

<p class="description">Enterprise solutions for secure retention of employee information and communication.</p>

<script src="/javascript/homepage.js"></script>