<div id="home-div" class="card">
  <h3 id="prompt" class="card-header" >Welcome!</h3>
  <p class="description">Cloud Roledex is a secure organizational structure for searching contact information</p>

  <div class="btnhomepage">
     <button type="submit" class="btn" href="/signup" id="signup">Create New Account</button>
     <button type="submit" class="btn" href="/login" id="login">Log In</button>
    </div>
</div>


<script src="/javascript/homepage.js"></script>
