<h3 id="prompt" class="card-header" >Welcome Back!</h3>
<form class="login-form">
  <div>
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" /><br>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" /><br>
     <label for="log-in-page-btn"></label><button class="btn" type="submit" id="log-in-page-btn">Log In</button>
  </div><br><br>
 
  
</form>



<script src="/javascript/login.js"></script>
{{!-- It's important to keep in mind that the front-end JavaScript code will not be sent over to the client at the same time as the HTML content. The browser will make a new request for the JavaScript file after the template has rendered and it sees the linked <script> element. --}}
