<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" /><br>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" /><br>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" /><br>
      <button type="submit" id="signup-btn" class="btn">Sign Up</button>
  </div>
</form>


{{!-- js file --}}
<script src="/javascript/signup.js"></script>